name: Create Terraform Resources

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
#       - develop

on:
  workflow_dispatch: # Manual trigger

jobs:
  deploy:
    uses: Grupo-118-Desafio-Final/final-challenge-grupo-118-template-pipeline/.github/workflows/terraform-template-creation-resource.yml@main
    secrets: inherit